{% extends 'base.twig' %}

{% block content %}

	<h4>Data for {{ site.name }} ({{ site.url }})</h4>

	{% if error %}
		<div class="alert alert-danger">
			{{ error }}
		</div>
	{% endif %}

	<hr>

	<h4>
		{% set users_length = site.users|length %}

		{% if users_length == 100 %}
			Found {{ users_length|length }}+ Users
		{% else %}
			Found {{ users_length|length }} Users
		{% endif %}

	</h4>

	<table class="table">

		<thead>

			<tr>
				<th>Avatar</th>
				<th>Name</th>
				<th>ID</th>
				<th>Posts Link</th>
				<th>Description</th>
				<th>Email/Hash</th>
			</tr>

		</thead>

		<tbody>

			{% for user in site.users %}

				<tr>
					<td>
						<a href="{{ user.avatar(500) }}">
							<img src="{{ user.avatar(30) }}">
						</a>
					</td>
					<td><strong>{{ user.name }}</strong> ({{ user.slug }})</td>
					<td>{{ user.id }}</td>
					<td>
						{% if user.link %}
							<a href="{{ user.link }}">{{ user.link }}</a>
						{% endif %}
					</td>
					<td>
						{{ user.description|raw }}
					</td>
					<td>{{ user.email|default(user.email_hash) }}</td>
				</tr>

			{% endfor %}

		</tbody>

	</table>

{% endblock %}